<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoz Verification</title>
</head>
<style>
    .featured {
        color: aliceblue;
        margin-bottom: 40px;
    }

    .verify {
        margin: 0 auto;
        width: 35%;
    }
</style>

<body style="background-color: #111111; padding: 50px 0;">
    <div class="verify">
        <div class="step-title">
            <h2 class="featured"> ✓ You have verified your account successfully</h2>

        </div>
    </div>
</body>

</html>