<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoz Verification</title>
    <link rel="stylesheet" href="style.css">
</head>

<body style="background-color: #111111; padding: 50px 0;">
    <div class="verify">
        <div class="step-title">
            <h2 class="featured"><img src="https://img.icons8.com/fluent/35/000000/checkmark.png" />You have verified
                your account successfully</h2>

        </div>
        <div class="gallery">
            <img src="5.png" class="img" alt="register Image">
        </div>
    </div>
</body>

</html>