.featured{
    color: aliceblue;
    margin-bottom: 40px;
}

.verify{
    margin: 0 auto;
    width: 35%;
}

.img{
    width: 30vw;
}

@media only screen and (max-width: 1100px) {
    .verify{
        margin: 0 auto;
        width: 50%;
    }
    .img{
        width: 50vw;
    }
}
